<div class="ui stackable five column grid">
    <div class="column">
        <div class ="blue ui segment" style="background-color:black;">
            <i class="large map marker icon" style="color: mediumpurple"></i>
            <header style="color: white;">
                ${_station.name} <br>
            </header>
            <p style="color: #bbbbbb; font-size: 0.8em">
                Lat: ${_station.latitude} <br>
                Long: ${_station.longitude}<br>
            </p>
        </div>
    </div>
    <div class="column">
        <div class ="blue ui segment" style="background-color:black;">
            <i class="large sun icon" style="color: cornflowerblue; font-size: 1.5em"></i>
            <p style="color: white;">Weather</p>
            <p style="color: #bbbbbb; font-size: 0.8em">
                <br>
            </p>
        </div>
    </div>
    <div class="column">
        <div class ="blue ui segment" style="background-color:black;">
            <i class="large temperature high icon" style="color: red"></i>
            <p style="color: white;">Temp</p>
            <p style="color: #bbbbbb; font-size: 0.8em">
                <br>
            </p>
        </div>
    </div>
    <div class="column">
        <div class ="blue ui segment" style="background-color:black;">

            <i class="large wind icon" style="color: green"></i>
            <p style="color: white;">Wind</p>
            <p style="color: #bbbbbb; font-size: 0.8em">
            <br>
            </p>
        </div>
    </div>
    <div class="column">
        <div class ="blue ui segment" style="background-color:black;">
            <i class="large tachometer alternate icon" style="color: orange"></i>
            <p style="color: white;">Pressure</p>
            <p style="color: #bbbbbb; font-size: 0.8em">
            <br>
            </p>
        </div>
    </div>
</div>
